alembic_autogenerate_enums
celery
flake8
Flask
Flask-Admin
Flask-DebugToolbar
Flask-Injector
Flask-Migrate
Flask-RESTful
Flask-RESTPlus
Flask-SQLAlchemy
Flask-Testing
gunicorn
psycopg2
psycopg2-binary
pytest
raven[flask]
redis
restless
slugify
Sphinx
sphinxcontrib-napoleon
SQLAlchemy
tablib
tqdm
Unidecode
