alembic_autogenerate_enums
celery
chardet
Flask
Flask-Admin
Flask-Injector
Flask-Migrate
Flask-RESTful
Flask-RESTPlus
Flask-SQLAlchemy
Flask-WTF
ftfy
gunicorn
pendulum
psycopg2-binary
python-slugify
raven[flask]
redis
SQLAlchemy
tqdm
Unidecode
WTForms
