<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{{ url_for('static', filename='fonts/font.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='material-dashboard-2.1.0/material-dashboard.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='select2-4.0.6-rc.0/select2.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta name="theme-color" content="#ab47bc">
  <title>{% block title %}Scraping{% endblock %}</title>
</head>
<body>
  {% block body %}
    {% include "nav.html" %}
    <main role="main" class="container">
      {% block content %}{% endblock %}
    </main>
  {% endblock %}
  <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='popper-1.14.3-min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap-4.1.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='material-dashboard-2.1.0/bootstrap-material-design.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='material-dashboard-2.1.0/perfect-scrollbar.jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='material-dashboard-2.1.0/chartist.min.js') }}"></script>
  <script src="{{ url_for('static', filename='material-dashboard-2.1.0/bootstrap-notify.js') }}"></script>
  <script src="{{ url_for('static', filename='select2-4.0.6-rc.0/select2.min.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".select2").select2({ width: '100%' });
    });

    var flashes = {{ get_flashed_messages() | tojson }};
    for (var i in flashes) {
      $.notify({
        icon: 'notifications',
        message: flashes[i],
      });
    }
  </script>
  {% block script %}{% endblock %}
</body>
</html>
