{% extends "base.html" %}

{% macro stat(count, name, plural=None) -%}
  {%- if plural is none -%}
    {% set plural = name + 's' %}
  {%- elif not plural -%}
    {% set plural = name %}
  {%- endif -%}
  <b>
    {{- count | default(0) -}}
  </b>&nbsp;
  {%- if count == 1 -%}
    {{ name }}
  {%- else -%}
    {{ plural }}
  {%- endif -%}
{%- endmacro %}

{% block content %}
  <div class="row">
    <div class="col-4">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">video_library</i>
          </div>
          <p class="card-category">Discovered content</p>
          <h4 class="card-title">
            {{ stat(external_object_stats['MOVIE'], 'movie') }}
            & {{ stat(external_object_stats['SERIES'], 'series', plural=False) }}
          </h4>
        </div>
        <div class="card-footer">
          <a href="#">Browse library…</a>
        </div>
      </div>

      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">business</i>
          </div>
          <p class="card-category">Platforms</p>
          <h3 class="card-title">
            {{ platforms_stats['SVOD'] + platforms_stats['TVOD'] + platforms_stats['INFO'] }}
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">notes</i>
            {{ platforms_stats['SVOD'] }} SVOD, 
            {{ platforms_stats['TVOD'] }} TVOD and
            {{ platforms_stats['INFO'] }} INFO
          </div>
        </div>
      </div>

      <div class="card card-stats">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon">
            <i class="material-icons">link</i>
          </div>
          <p class="card-category">Unique links</p>
          <h3 class="card-title">
            {{ object_link_count }}
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">notes</i>
            {{ (object_link_count / (external_object_stats.values() | sum)) | round(1) }} per item on average
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="card card-chart">
        <div class="card-header card-header-primary">
          <div class="ct-chart" id="scrap-stats"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Items scraped in the last 7 days</h4>
        </div>
        <hr />
        <div class="card-body table-responsive">
          <table class="table">
            <thead class="text-primary">
              <tr>
                <th>Platform</th>
                <th>Status</th>
                <th>Date</th>
                <th>Links</th>
              </tr>
            </thead>
            <tbody>
              {% for scrap in last_scraps | reverse %}
                <tr>
                  <td>{{ scrap.platform.name }}</td>
                  <td>{{ scrap.status | upper }}</td>
                  <td>{{ scrap.date | relative_date }}</td>
                  <td>{{ scrap.links_count }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i>
            {{ recent_scraps_count['day'] }} scraps today,
            {{ recent_scraps_count['week'] }} during the last 7 days,
            {{ recent_scraps_count['month'] }} this month and
            {{ recent_scraps_count['year'] }} this year.
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    fetch('{{ url_for("api.scraps_scrap_stats") }}')
      .then(r => r.json())
      .then(data => {
        const labels = Object.keys(data);
        const values = Object.values(data);
        const chart = new Chartist.Line('#scrap-stats', {
          labels,
          series: [
            // values.map(v => v.scraps),
            values.map(v => v.items),
          ]
        }, {
          lineSmooth: Chartist.Interpolation.cardinal({
            tension: 0
          }),
          chartPadding: {
            right: 0,
            left: 0
          },
        });

        md.startAnimationForLineChart(chart);
      });
  </script>
{% endblock %}
