{% macro render_pagination(pagination, endpoint=request.url_rule.endpoint, args={}) %}
  <nav>
    <ul class="pagination">
    {%- for page in pagination.iter_pages() %}
      {% if page %}
        <li class="page-item{% if page == pagination.page %} active{% endif %}">
          <a class="page-link" href="{{ url_for(endpoint, page=page, per_page=pagination.per_page, **args) }}">{{ page }}</a>
        </li>
      {% else %}
        <li class="page-item disabled"><a href="#" class="page-link">…</a></li>
      {% endif %}
    {%- endfor %}
    </ul>
  </nav>
{% endmacro %}

{% macro render_ordering_link(key, display, endpoint=request.url_rule.endpoint, ordering=None, args={}) %}
  {# first copy the args so we don't mutate them, and pop the args we don't want to keep #}
  {% set _args = args.copy() %}
  {% do _args.pop('ordering', None) %}
  {% do _args.pop('page', None) %}
  {% do _args.pop('per_page', None) %}

  {# some variables for convenience #}
  {% set asc = key + '-asc' %}
  {% set desc = key + '-desc' %}

  {# cycle through the possible orderings #}
  {% if ordering == asc %}
    {% set suffix = ' <i class="material-icons">arrow_drop_up</i>' %}
    {% do _args.update({'ordering': desc}) %}
  {% elif ordering == desc %}
    {% set suffix = ' <i class="material-icons">arrow_drop_down</i>' %}
  {% else %}
    {% do _args.update({'ordering': asc}) %}
  {% endif %}

  <a href="{{ url_for(endpoint, **_args) }}">{{ display }}{{ suffix | safe }}</a>
{% endmacro %}

{% macro render_field(field, label_visible=true) -%}
  <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
    {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
      <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
    {% endif %}
    {{ field(class_='form-control ' + kwargs.pop('field_class', ''), **kwargs) }}
    {% if field.errors %}
      {% for e in field.errors %}
        <p class="help-block">{{ e }}</p>
      {% endfor %}
    {% endif %}
  </div>
{%- endmacro %}

{% macro render_table_field(field) -%}
  <fieldset class="nested-form-field">
    <legend>{{ field.label }}</legend>
    {{ field() }}
  </fieldset>
{%- endmacro %}

{% macro render_field_list(field) -%}
  {% for elem in field %}
    <fieldset class="nested-form-field">
      {{ elem() }}
    </fieldset>
  {% endfor %}
{%- endmacro %}

{% macro render_checkbox_field(field) -%}
  <div class="checkbox">
    <label>
      {{ field(type='checkbox', **kwargs) }} {{ field.label }}
    </label>
  </div>
{%- endmacro %}

{% macro render_radio_field(field) -%}
  {% for value, label, _ in field.iter_choices() %}
    <div class="radio">
      <label>
        <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
      </label>
    </div>
  {% endfor %}
{%- endmacro %}

{% macro render_form(form, action_url='', action='POST', action_text='Submit', class_='', btn_class='btn btn-default', multipart=False) -%}
<form method="{{ action }}" action="{{ action_url }}" role="form" class="{{ class_ }}" {%- if multipart %} enctype=multipart/form-data{% endif %}>
    {{ form.hidden_tag() if form.hidden_tag }}
    {% if caller %}
      {{ caller() }}
    {% else %}
      {% for f in form %}
        {% if f.type == 'BooleanField' %}
          {{ render_checkbox_field(f) }}
        {% elif f.type == 'RadioField' %}
          {{ render_radio_field(f) }}
        {% elif f.type == 'FormField' %}
          {{ render_table_field(f) }}
        {% elif 'FieldList' in f.type %}
          {{ render_field_list(f) }}
        {% else %}
          {{ render_field(f) }}
        {% endif %}
      {% endfor %}
    {% endif %}
    <button type="submit" class="{{ btn_class }}">{{ action_text }}</button>
  </form>
{%- endmacro %}

{% macro stat(count, name, plural=None) -%}
  {%- if plural is none -%}
    {% set plural = name + 's' %}
  {%- elif not plural -%}
    {% set plural = name %}
  {%- endif -%}
  <b>
    {{- count | default(0) -}}
  </b>&nbsp;
  {%- if count == 1 -%}
    {{ name }}
  {%- else -%}
    {{ plural }}
  {%- endif -%}
{%- endmacro %}

{% macro todo() -%}
  <p class="text-monospace">// TODO.</p>
{%- endmacro %}

{% macro transition(model, name, url='#', class='btn') %}
  {% if model['can_' + name] %}
    <a href="{{ url }}" title="{{ model[name].__doc__ }}" class="{{ class }} btn-{{ model[name] | transition_color }}" rel="tooltip">
      {% if caller %}
        {{ caller() }}
      {% else %}
        {{ name | title }}
      {% endif %}
    </a>
  {% endif %}
{% endmacro %}

{% macro badge(enum, class='', tag='span', attr='') %}
  <{{ tag }} title="{{ enum | upper }}" class="badge {{ class }} badge-{{ enum | badge_color }}" {{ attr }}>
    {{ enum | badge_display }}
  </{{tag}}>
{% endmacro %}

{% macro file_filter(filter, cache) %}
  <span title="{{ filter[0] }} = {{ filter[1] }}">{{ filter | filter_display(cache) }}</span>
{% endmacro %}
