{% macro menu_item(title, endpoint=False) -%}
  {% if not endpoint %}
    {% set disabled=True %}
    {% set url = "#" %}
  {% else %}
    {% set active = (request.url_rule.endpoint == endpoint) %}
    {% set url = url_for(endpoint) %}
  {% endif %}

  <li>
    <a class="nav-link
      {%- if active %} active{% endif -%}
      {%- if disabled %} disabled{% endif -%}
    " href="{{ url }}">
      {{ title }}{% if active %} <span class="sr-only">(current)</span>{% endif %}
    </a>
  </li>
{% endmacro -%}


<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">Scraping</a>

    <ul class="navbar-nav mr-auto">
      {{ menu_item("Home", "dashboard.home") }}
      {{ menu_item("Platforms", "dashboard.platform_list") }}
      {{ menu_item("Scraps", "dashboard.scrap_list") }}
      {{ menu_item("Objects", "dashboard.object_list") }}
      {{ menu_item("Exports", "dashboard.exports") }}
    </ul>

    <ul class="navbar-nav">
      {{ menu_item("API", "api.root") }}
    </ul>
  </div>
</nav>
