{% macro attribute(list, limit=100) %}
  {% if list %}
    {% for value in list[:limit] %}
      {%- if loop.first -%}
        <b>{{ value }}</b>
      {%- else -%}
        {{ value }}
      {%- endif -%}
      {%- if not loop.last %} | {% endif %}
    {% endfor %}
    {% if list|length > limit %}
      | <em>etc.</em>
    {% endif %}
  {% else %}
    <span class="text-muted">–</span>
  {% endif %}
{% endmacro %}

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Titles</th>
      <th>Country</th>
      <th>Links</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for object in objects %}
      <tr>
        <td>{{ object.id }}</td>
        <td><span class="badge badge-pill badge-{{ object.type | badge_color }}">{{ object.type | upper }}</span></td>
        <td>{{ attribute(object.attributes.titles, 3) }}</td>
        <td>{{ attribute(object.attributes.countries) }}</td>
        <td>{{ object.links_count }}</td>
        <td class="td-actions">
          <a class="btn btn-sm btn-link" href="{{ url_for('.show_object', id=object.id) }}" rel="tooltip" title="View {{ object.type }}">
            <i class="material-icons">arrow_forward</i>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
