{% extends "base.html" %}
{% import "macros.html" as m %}

{% block content %}
  <div class="row">
    <div class="col-4">
      <dl>
        <dt>Row type</dt>
        <dd>
          <span class="badge badge-pill badge-{{ export_file.template.row_type | badge_color }}">
            {{ export_file.template.row_type | upper }}
          </span>
        </dd>
        <dt>Object type</dt>
        <dd>
          <span class="badge badge-pill badge-{{ export_file.template.external_object_type | badge_color }}">
            {{ export_file.template.external_object_type | upper }}
          </span>
        </dd>
        <dt>Path</dt>
        <dd>{{ export_file.path }}</dd>
        <dt>Session<dt>
        <dd>{{ export_file.session.name }}</dd>
        <dt>Factory<dt>
        <dd>{{ export_file.factory.name or "–" }}</dd>
      </dl>
    </div>

    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Status</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          {% for log in export_file.logs %}
            <tr>
              <td>{{ log.timestamp }}</td>
              <td>
                <span class="badge badge-pill badge-{{ log.status | badge_color }}">
                  {{ log.status | upper }}
                </span>
              </td>
              <td>{{ log.message or "–" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
