{% extends "base.html" %}
{% import "macros.html" as m %}

{% block content %}
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <dl>
            <dt>Status</dt>
            <dd>
              {{ m.badge(file.status, class="badge-pill") }}
            </dd>

            <dt>File name</dt>
            <dd>{{ file.filename }}</dd>

            <dt>Last activity</dt>
            <dd>
              {% if file.last_activity %}
                {{ file.last_activity | relative_date }}
              {% else %}
                –
              {% endif %}
            </dd>

            <dt>Detected encoding</dt>
            <dd>{{ file.get_codec() }}</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Logs</h4>
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Time</th>
                <th>Status</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              {% for log in file.logs %}
                <tr>
                  <td>{{ log.timestamp | relative_date }}</td>
                  <td>
                    {{ m.badge(log.status, class="badge-pill") }}
                  </td>
                  <td>{{ log.message or "–" }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
      {% call m.render_form(form, class_="card-body", action="POST", action_text="Save") %}
        {{ m.render_field(form.imported_external_object_type) }}
        {{ m.render_field(form.platform) }}
        <div class="row import-field-list">
          {% for field in form.fields %}
            <div class="col-4">
              {{ field() }}
              <hr />
            </div>
          {% endfor %}
        </div>
        {{ form.save_and_import() }}
      {% endcall %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      const containers = document.querySelectorAll(".dynamic-input-container");
      for (const i in Array.from(containers)) {
        const container = containers[i];
        const controller = container.querySelector(".dynamic-input-controller");
        const inputs = container.querySelectorAll(".dynamic-input");

        const display = (element, value) => {
          element.parentElement.parentElement.style.display = (value ? '' : 'none');
        };

        const change = () => {
          const v = controller.value;
          for (const j in Array.from(inputs)) {
            const input = inputs[j];
            if ((input.dataset.show || '').split(' ').includes(v)) {
              display(input, true);
            } else {
              display(input, false);
            }
          }
        }

        // We need jquery events because of select2 hijacking the events
        $(controller).on("change", () => change());
        change();
      }
    });
  </script>
{% endblock %}
