<div class="card">
  <div class="card-header card-header-primary">
    <h3 class="card-title">
      {{ platform.name }}
      <a href="#"><i class="material-icons">open_in_new</i></a>
    </h3>
    <p class="card-category">
      {{ platform.type | upper }}
      {% if platform.group %}• {{ platform.group.name }}{% endif %}
      {% if platform.country %}• {{ platform.country }}{% endif %}
    </p>
  </div>
  <div class="list-group list-group-flush" style="margin-top: 1rem">
    <a href="#" class="list-group-item list-group-item-action">{{ m.stat(link_stats['MOVIE'], 'movie') }}</a>
    <a href="#" class="list-group-item list-group-item-action">{{ m.stat(link_stats['SERIES'], 'series', False) }}</a>
    <a href="#" class="list-group-item list-group-item-action">{{ m.stat(link_stats['EPISODE'], 'episode') }}</a>
    <a href="{{ url_for('.scrap_list', platforms=[platform.slug]) }}" class="list-group-item list-group-item-action">
      {{ m.stat(recent_scraps_count['week'], 'scrap') }} this week,
      {{ recent_scraps_count['month'] }} this month,
      {{ recent_scraps_count['year'] }} this year.
    </a>
  </div>
</div>
